

/* TABLETTE */

@media screen and (max-width:992px)
{

    *
    {
        margin: 0;
        padding: 0;
    }

    body
    {
        width: 100%;
    }

  /*MAIN*/



  .underligne
  {
    width:4.6%;
    height: 2px;
    background: #00695C;
    margin-top: 7.5%;
    margin-left: 7%;
    position: absolute;
  }

    .dates
    {
        display:none;
    }

    p
    {
        margin-bottom: 2%;
    }


    #container
    {
        display: flex;
        justify-content: space-around;
    }

    #section_formation, #section_ex_pro, .recomandations
    {
        margin-top: 55%;
    }

     #formation
    {
        margin-left : 2%;
    }

 /*RECOMANDATIONS*/



    .recomand__clients
    {
      display:flex;
      justify-content: space-around;
      font-family: 'Rubik', sans-serif;
      margin-left: 10%;
      margin-top: 5%;
    }

    /* ASIDE */


    .logo_contact
    {
        font-size: 1.2em;
    }

    /* HERO */

    #hero
    {
        width: 10em;
        margin-bottom:4%;
    }

    .bio
    {
        margin-top: 5%;
        margin-bottom: 15%;
    }

    /*LOISIRS*/

    #loisirs
    {
        font-size: 1em;
        margin-top:-1%;
    }

    #loisirs div
    {
        display: flex;
        justify-content: space-around;
        font-size: 2em;
        margin-top: 20%;
    }


}

/* TABLETTE breakpoint 2*/


@media screen and (max-width:768px)
{
    *
    {
        margin: 0;
        padding: 0;
    }

    body
    {
        width: 100%;
    }

    p
    {
        margin-bottom: 2%;
    }

    .underligne
    {
      width:4.6%;
      height: 2px;
      background: #00695C;
      margin-top: 11.2%;
      margin-left: 36%;
      position: absolute;
    }



    h1
    {
        text-align: center;
        font-family: "Rubik";
    }

    h3
    {
    text-align: left;
    }

    .developpeur_web_freelance
    {
        text-align: center;
        position: relative;
        margin-top: 1%;
        font-size: 1.3rem;
        font-family: 'Rajdhani', cursive;
    }

    .logo_titres
    {
      font-size: 2em;
      margin-top: -6%;
      position: absolute;
      margin-left: 13%;
      color: #00695C;
    }

    hr
    {
      border-bottom:2px solid #00695C;
      width: 85%;
      margin-left: 10%;
    }

    #container
    {
        flex-direction: column;
    }

    /*MAIN*/

    main
    {
        width: 100%;
    }

    /*RECOMANDATIONS*/

    .recomandations
    {

      margin-bottom: 5%;
    }

    .recomand__clients
    {
      display:flex;
      justify-content: space-around;
      margin-left: 10%;
      margin-top: 5%;
      font-family: 'Rubik', sans-serif;
    }

    /*ASIDE*/

    aside
    {
        width: 100%;
        order:2 ;
        margin-top:0;
    }

    /* HERO */

    #hero
    {
        width: 7em;
        margin-bottom: 2%;
    }

    #loisirs
    {
        margin-top: 2%;
    }

    #loisirs div i
    {
        margin-bottom: 30%;
    }

    #bio
    {
        text-align:justify;
        margin:-2% -2% auto;
    }

}
/* breakpoint 3 */

@media screen and (max-width: 501px)
{
#contact
{
  margin-left: 2%;
}

  .underligne
  {
    width:14%;
    height: 2px;
    background: #00695C;
    margin-top: 15%;
    margin-left: 30%;
    position: absolute;
  }

  .logo_titres
  {
    font-size: 1.6em;
    margin-top: -6%;
    position: absolute;
    margin-left: 13%;
    color: #00695C;
  }

  #biographie
  {
    display:none;
  }
}

/* MOBILE-PHONE */

@media screen and (max-width:576px)
{

    /*GENERAL*/
    body
    {
      width: 100%;
    }

    h3
    {
        text-align: center;
        font-size: 1em;
    }


    small
    {
        display: none;
    }

    hr
    {
      border-bottom:2px solid #00746b;
    }

    .underligne
    {
      width:14%;
      height: 2px;
      background: #00695C;
      -webkit-margin-top: 15%;
      -o-margin-top: 20%;
      margin-top: 15%;
      margin-left: 28%;
      position: absolute;
    }

    .logo_titres
    {
      font-size: 1em;
      margin-top: -5%;
      position: absolute;
      margin-left: 10%;
      color: #00695C;
    }

    .fa-graduation-cap
    {
      margin-top: 0;
    }

    .fa-pencil-alt
    {
        margin-top: -1%
    }

    .fa-suitcase
    {
      margin-top: -1%;
    }

    /*CONTAINER, MAIN, HEADER*/
    #container
    {
        width:100%;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        margin:0;
    }

    main, header
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 0;
        margin: 0;
    }

    .underligne
    {
      width:12%;
      height: 2px;
      background: #00695C;
      margin-top: 16%;
      margin-left: 25%;
      position: absolute;
    }

    .fa-graduation-cap
    {
      margin-left: 10%;
    }

    /*FORMATION, EX PRO, FORMATION*/

    #section_formation, #section_ex_pro, .recomandations
    {
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
        text-align: center;
        width: 100%;
        margin: 0;
        margin-top: 20%;
    }

    #formation, #ex_pro, .recomandations
    {
      margin-top: 10%;
    }

    .recomand__clients
    {
      margin-top: 35%;
    }

    .dates
    {
        display: none;
    }

    /*RECOMANDATIONS*/


       .recomand__clients
       {
         flex-direction: column;
         text-align: center;
         margin-top: 10%;
       }

    /*ASIDE*/

    aside
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-right: none;
        order: -1;
        margin-top: 5%;
    }

    #hero
    {
        width: 30%;
        align-self: center;
    }

    .logo_contact, #loisirs
    {
        font-size: 1em;
    }


    #biographie
    {
        display: none;
    }

}
