
/*GENERAL*/
*
{
    box-sizing: border-box;
}

body
{
    font-size: 1.1em;
    margin: 0;
}

#container
{
    display: flex;
    justify-content: center;
}

h1
{
    margin-left: 10%;
    font-family: "Rubik";
}

.developpeur_web_freelance
{
    margin-left: 7%;
    position: absolute;
    margin-top: 5%;
    font-size: 1.3rem;
    font-family: 'Rajdhani', cursive;
    font-weight: 900; 
}

 h2,h4
{
    text-align: center;
    font-family: "Rubik";
}

h2
{
    background: #d7d7d7;
    color: rgb(0,105,92);
}

h3
{
  margin-left: 20%;
}

a
{
    text-decoration: none;
    color: #000;
}

a:hover
{
    border-bottom: 2px solid black;
}


.logo_titres
{
  font-size: 2em;
  margin-top: -4%;
  position: absolute;
  margin-left: 9%;
  color: #00695C;
}

.gros_point
{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid green;
  margin-top: -3%;
  margin-left: -2%;
    position: absolute;
}

.petit__point
{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: green;
  position: relative;
  margin-left: 2.5px;
  margin-top:3px;
}

.point__seul
{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: green;
  position: absolute;
  margin-left: -1.5%;
  margin-top:-2.5%;
}


hr
{
  border-bottom:2px solid #00695C;
  width: 85%;
  margin-left: 12%;
}

main
{
    width: 70%;
    padding-top: 2%;
    background: #f2f5f7;
}


/*HEADER*/

header
{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.underligne
{
  width:4.6%;
  height: 2px;
  background: #00695C;
  margin-top: 6.7%;
  margin-left: 7%;
  position: absolute;
}

#david
{
    color: rgb(0,105,92);
}

/*FORMATION*/

#section_formation
{
    align-self: center;
    margin-top: 15%;
}

#formation
{
    display: flex;
    justify-content: space-around;
    font-family: 'Rubik', sans-serif;
    margin-top: 5%;
    margin-left: 8%;
}

/*EXPERIENCE PROFESSIONNELLES */

#section_ex_pro
{
    align-self: center;
    margin-top: 20%;
}

#ex_pro
{
    display: flex;
    justify-content: space-around;
    font-family: 'Rubik', sans-serif;
    margin-top: 5%;
    margin-left: 8%;
}

/*RECOMANDATIONS*/

.recomandations
{
  margin-top: 20%;
}

.recomand__clients
{
  display:flex;
  justify-content: space-around;
  font-family: 'Rubik', sans-serif;
}


/*ASIDE*/

aside
{
    display: flex;
    flex-direction: column;
    width: 30%;
    background: #00695C;
    font-family: "Rubik";
}

#img_hero
{
  display: flex;
  justify-content: center;
}

#hero
{
    margin-top: 2%;
    border-radius:50%;
    width: 50%;
    border: 4px solid rgb(27,94,32);
    object-fit: contain;
}
/*CONTACT*/

ul li, a
{
    list-style: none;
    color: #000;
}

.logo_contact
{
    font-size: 1.4em;
}

.contact
{
    margin: 3%
}

/*BIOGRAPHIE*/

.bio
{
    text-align: justify;
    margin: 4% 4% auto;
    font-size: 1em;
    letter-spacing: .1rem;
}

/*LOISIRS*/

#loisirs
{
    display: flex;
    flex-direction:column;

}

#loisirs div
{
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    margin-bottom: 3%;
}
