
/*GENERAL*/
*
{
    box-sizing: border-box;
}

body
{
    font-size: 1.1em;
    margin: 0;
}

#container
{
    display: flex;
    justify-content: center;
}

h1, h2,h4
{
    text-align: center;
    font-family: "Rubik";
}

h2
{
    background: #d7d7d7;
}

h3
{
  margin-left: 20%;
}

a
{
    text-decoration: none;
    color: #000;
}

a:hover
{
    border-bottom: 2px solid black;
}

hr
{
  border-bottom:2px solid #00746b;
  width: 85%;
  margin-left: 12%;
}

main
{
    width: 70%;
    padding-top: 2%;
    background: #f2f5f7;
}

/*HEADER*/

header
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#h2_developpeur_web, #junior
{
    font-family: "Rubik";
    font-size: 2em;
}

#david
{
    color: #00746b;
}


#junior
{
    font-size: 1.2em;
    color: #00746b;
    font-family: 'Rajdhani', sans-serif;
}

/*FORMATION*/

#section_formation
{
    align-self: center;
    margin-top: 15%;
}

#formation
{
    display: flex;
    justify-content: space-around;
    font-family: 'Rubik', sans-serif;
    margin-top: 5%;
}

/*EXPERIENCE PROFESSIONNELLES */

#section_ex_pro
{
    align-self: center;
    margin-top: 15%;
}

#ex_pro
{
    display: flex;
    justify-content: space-around;
    font-family: 'Rubik', sans-serif;
    margin-top: 5%;
}

/*RECOMANDATIONS*/

.recomandations
{
  margin-top: 10%;
}

.recomand__clients
{
  display:flex;
  justify-content: space-around;
  font-family: 'Rubik', sans-serif;
}


/*ASIDE*/

aside
{
    display: flex;
    flex-direction: column;
    width: 30%;
    background: #00746b;
    font-family: "Rubik";
    border-radius: 7px;
    border-right:4px solid #000;
}

#img_hero
{
    display: flex;
    justify-content: center;
}
/*CONTACT*/

ul li, a
{
    list-style: none;
    color: #000;
}

.logo_contact
{
    font-size: 1.4em;
}

.contact
{
    margin: 3%
}

/*BIOGRAPHIE*/

.bio
{
    text-align: justify;
    margin: 4% 4% auto;
    font-style: italic;
    font-size: 1em;
}

/*LOISIRS*/

#loisirs
{
    display: flex;
    flex-direction:column;
}

#loisirs div
{
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    margin-top: 5%;
}
